[submodule "org-dotemacs"]
	path = org-dotemacs
	url = https://github.com/vapniks/org-dotemacs
[submodule "powerline"]
	path = powerline
	url = https://github.com/milkypostman/powerline
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package
[submodule "org-bullets"]
	path = org-bullets
	url = https://github.com/sabof/org-bullets
